
body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(51, 51, 51);
    color: rgb(223, 223, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div, form {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

input {
    border: 2px solid rgb(170, 170, 170);
    border-radius: 0.8rem;
    padding: 1rem 1.5rem;
}

button {
    border: 0;
    padding: 0.3rem 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
button:active {
    background-color: rgb(65, 65, 65);
}

.pave-numerique-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:20%;
}
